<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zhouqiangWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Showinfo11</servlet-name>
    <servlet-class>com.servlet.ShowAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUpdateUser</servlet-name>
    <servlet-class>com.servlet.AdminUpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RigisterUser</servlet-name>
    <servlet-class>com.servlet.RigisterUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelfChange</servlet-name>
    <servlet-class>com.servlet.UserSelfChange</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportGame</servlet-name>
    <servlet-class>com.servlet.ReportGame</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateGame</servlet-name>
    <servlet-class>com.servlet.AdminUpdateGame</servlet-class>
  </servlet>
 
 <servlet-mapping>
    <servlet-name>UpdateGame</servlet-name>
    <url-pattern>/UpdateGame</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>ReportGame</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelfChange</servlet-name>
    <url-pattern>/ChangeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RigisterUser</servlet-name>
    <url-pattern>/Rigister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Showinfo11</servlet-name>
    <url-pattern>/ShowInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
</web-app>